{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="font-weight-light">Consultation</h1>

        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateHeure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.dateHeure ? consultation.dateHeure|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('consultation_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('consultation_edit', {'id': consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consultation_new') }}">Create new</a>
{% endblock %}
